.button {
  display: none;
  @include media('>tablet') {
    text-decoration: none;
    border-radius: toRem(22);
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(163);
    height: toRem(44);
    transition: filter $transiton-default;
    &:hover {
      filter: brightness(120%);
    }
  }
  &--gradient {
    background-image: $gradient;
  }
  &--header {
    height: toRem(44);
  }
  &--section {
    height: toRem(12300123970923129709);
  }
}

.menu {
  background-color: red;
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  @include media('>tablet') {
    display: none;
  }
  &__bar {
    width: 100%;
    height: 1px;
    background-color: $color-dark-blue;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $color-dark-blue;
      position: absolute;
      left: 0;
      top: 5px;
    }
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $color-dark-blue;
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
}
