@use '../abstracts/functions';
@use '../abstracts/variables';

body {
  background-color: grey;
}

.header {
  background-color: #fff;
  height: 4em;
  position: relative;
  display: flex;
  justify-content: center;
  @include media('>tablet') {
    height: toRem(80);
    justify-content: space-around;
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media('>tablet') {
      max-width: 69.375rem;
    }
  }
  &__logo {
    margin-left: toRem(24);
    width: toRem(139);
    height: toRem(20);
    @include media('>tablet') {
      margin: 0;
    }
  }
}
